@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

/* 62.5%= 10px なので、16pxにしたいときは1.6remにする */
html {
    font-size: 62.5%;
    font-family: "IBM Plex Sans JP", system-ui;
    font-weight: 500;
    font-style: normal;
    color: #433d3c;
}
body {
    height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header calendar clock"
    "form-area status friends"
    "icons nav1 nav2";
    
}

.header {
  grid-area: header;
  background-color: #fbfaf5;
  color: #333;
}

.calendar {
  grid-area: calendar;
}

.clock {
  grid-area: clock;
}

.form-area {
  grid-area: form-area;
}

.status {
  grid-area: status;
}

.friends {
  grid-area: friends;
}

.icons {
  grid-area: icons;
}

.nav1 {
  grid-area: nav1;
}

.nav2 {
  grid-area: nav2;
}
